<md-toolbar>
    <div class="md-toolbar-tools">
        <label class="md-headline" flex>Data Storage</label>
        <md-button hide show-gt-sm ng-click="backToInitialInfo()">
            Edit Company Info
        </md-button>
        <md-button hide-gt-sm ng-click="backToInitialInfo()">
            <md-icon md-font-set="material-icons"> edit </md-icon>
            <md-icon md-font-set="material-icons"> account_box </md-icon>
            <md-tooltip md-direction="left">Edit Company Info</md-tooltip>
        </md-button>
    </div>
</md-toolbar>
<br>
<div class="md-title">Typically, your company will track and store user data such as:</div>
<br>
<div>
    <strong><em>"Account Information"</em></strong>
    <br>
    <div class="textIndent">
        The name and email address your users provide during account creation,
        and their payment info, company name, and physical address when they
         convert to a paid account.
    </div>
    <br>
</div>
<div>
    <strong><em>"Application data"</em></strong>
    <br>
    <div class="textIndent">
        Any data that your users add to any {{ newPolicy.companyName }} application
        (such as products, order information, comments, etc.) is stored in your systems.
        Additionally, when they use your application, you will store some usage analytics to monitor performance.
    </div>
    <br>
</div>
<div>
    <strong><em>"Usage data"</em></strong>
    <br>
    <div class="textIndent">
        Your company will collect information about the devices users use to access your services.
        This includes things like product version, and identifiers of their devices.
    </div>
    <br>
</div>
<div>
    <strong><em>"Cookies and other technologies"</em></strong>
    <br>
    <div class="textIndent">
        You may use “cookies” on {{ newPolicy.companyWebsite }},
        its subdomains and it’s affiliated sites.
        A cookie is a piece of data stored on a site visitor's hard drive,
        to help you improve their access to your site and identify repeat visitors to your site.
        For instance, when you use a cookie to identify your users,
        they will not have to login and provide a password more than once, thereby saving time while on your site.
        Cookies can also enable you to track and target the interests of your users to enhance the experience on your site.
        Usage of a cookie is in no way linked to any personally identifiable information on your site.
    </div>
    <br>
</div>
<div class="md-title">Do you track any other forms of user data?</div>
<md-radio-group ng-model="questionnaire.storage.answer"
                class="md-vertical-padding"
                layout="row"
                layout-align="space-around center">
    <md-radio-button ng-value="true">Yes</md-radio-button>
    <md-radio-button ng-value="false">No</md-radio-button>
</md-radio-group>
<div ng-show="questionnaire.storage.answer" class="md-vertical-padding-bottom">
    <div class="md-title">
        Please list any additional data that will be tracked and stored
    </div>
    <md-chips ng-model="questionnaire.storage.answerDescription"
              md-removable="true"
              md-enable-chip-edit="true"
              md-add-on-blur="true"
              placeholder="Ex: 'Physical Description'"
              secondary-placeholder="+Another">
    </md-chips>
    <br>
    <div class="md-subheader"><em>Press ENTER to add a new item to the list</em></div>
    <br>
</div>
