<md-toolbar>
    <div class="md-toolbar-tools">
        <label class="md-headline" flex>Data Sharing
        </label>
        <md-button ng-click="backToInitialInfo()">Edit Company Info</md-button>
    </div>
</md-toolbar>
<br>
<div class="md-title">Usually, your company will share user data with:</div>
<br>
<div>
    <strong><em>"The {{ newPolicy.companyName }} Team"</em></strong>
    <br>
    <div class="textIndent">
        Information may be shared internally to help provide, improve, protect, and promote our service.
    </div>
    <br>
</div>
<div>
    <strong><em>"Third Party Applications"</em></strong>
    <br>
    <div class="textIndent">
        If you choose to integrate any {{ newPolicy.companyName }} applications with 3rd party applications,
        remember that their use of your information will be governed by their privacy policies and terms.
    </div>
    <br>
</div>
<div>
    <strong><em>"Legal"</em></strong>
    <br>
    <div class="textIndent">
        We may disclose your information to third parties if necessary to comply with the law. 
    </div>
    <br>
</div>
<div class="md-title">Do you know of any other reasons that your company shares user data?</div>
<md-radio-group ng-model="questionnaire.sharing.answer"
                class="md-vertical-padding"
                layout="row"
                layout-align="space-around center">
    <md-radio-button ng-value="true">Yes</md-radio-button>
    <md-radio-button ng-value="false">No</md-radio-button>
</md-radio-group>
<div ng-show="questionnaire.sharing.answer" class="md-vertical-padding-bottom">
    <div class="md-title md-underline">
        Please list the additional reasons you will share user data
    </div>
    <md-chips ng-model="questionnaire.sharing.answerDescription"
              readonly="false"
              md-removable="true"
              md-enable-chip-edit="true"
              placeholder="Example: 'Integrating with our Online Banking System'"
              secondary-placeholder="+Another">
    </md-chips>
    <br>
    <div class="md-subheader"><em>Press ENTER to add a new item to the list</em></div>
    <br>
</div>