.mainContainer {
    font-size: 14px;
}

privacy-policy-generator * {
    box-sizing: border-box;
}

.unisyn-hint {
    margin-top: 6px;
    font-size: 14px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

md-input-container .unisyn-hint {
    float: left;
}

md-input-container .md-errors-spacer {
    float: none; /*not sure why this would need to float since float throws off vertical flow*/
}

.unisyn-big-button.md-button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
}

.textAlignCenter {
    text-align: center;
}

.textIndent {
    text-indent: 2em;
}

.backgroundTransparent {
    background-color: rgba(0,0,0,0);
}

.bannerContent {
    background-color: rgba(0,0,0,0);
    color: #fff;
}

.bannerContent label {
    color: #fff;
}

.bannerContainer {
    background-color: #616161;
    background-image: url(https://s3.amazonaws.com/unisyn-central-assets/globalImages/banner.jpg);
}

.privacyPolicyGeneratorContainer {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.md-toolbar-tools .md-headline {
    color: #fff;
}

.legalDisclaimerDialogContainer {
    z-index: 10000;
    background-color: #616161;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.legalDisclaimerDialogContainer * {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.generatedPolicyContainer {
    overflow: auto;
    height: 600px;
}


/* media queries */

@media (min-width: 960px) {
    .unisyn-hint {
        font-size: 12px;
    }
}

.constrain-container {
	width: 100%;
    max-width: 1200px;
}

.min-fill-height {
	min-height: 100%;
}

.min-fill-width {
	min-width: 100%;
}

.max-fill-height {
	max-height: 100%;
}

.max-fill-width {
	max-width: 100%;
}

.fill-height {
	height: 100%;
}

.fill-width {
	width: 100%;
}

.md-vertical-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

.md-vertical-padding-top {
    padding-top: 8px;
}

.md-vertical-padding-bottom {
    padding-bottom: 8px;
}

.md-vertical-margin {
    margin-top: 8px;
    margin-bottom: 8px;
}

.md-horizontal-padding {
    padding-left: 8px;
    padding-right: 8px;
}

.md-horizontal-margin {
    margin-left: 8px;
    margin-right: 8px;
}

.no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.no-horizontal-margin {
    margin-left: 0;
    margin-right: 0;
}

.margin-center {
    margin: auto;
}

@media (min-width: 960px) {
	.md-vertical-padding {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.md-vertical-margin {
		margin-top: 16px;
		margin-bottom: 16px;
	}
	.md-horizontal-padding {
		padding-left: 16px;
		padding-right: 16px;
	}
	.md-horizontal-margin {
		margin-left: 16px;
		margin-right: 16px;
	}
}
